<h2>Tournament: {{id}}</h2>

<div>    
    {{#with tournament}}
    
        {{#each levels}}
    <div style="border:2px solid black;width:80%;margin:auto;display:flex;">        
        {{#each matches}}        
        <div style="border:1px solid black;width:80%;">            
            {{#if done}}
            
                {{#if players.[0].isFake}}
                   <div>Player 1:{{players.[1].name}}</div>
                {{else}}
                     <div >Player 1:{{players.[0].name}}</div>
                {{/if}}
                <div>VS</div>
            
                {{#if players.[1].isFake}}            
                    <div>Player 2:{{players.[1].name}}</div>            
                {{else}}
                    <div >Player 2:{{players.[1].name}}</div>
                {{/if}}
                <div>
                    Winner: {{state.name}}
                </div>            
            {{else}}                

                {{#if players.[0].isFake}}
                    <div>Player 1:{{players.[1].name}}</div>
                {{else}}
                    <a href="/tournament/{{../../../../../id}}?level={{../../../level}}&match={{@index}}&winner={{players.[0].id}}">Player 1:{{players.[0].name}}</a>
                {{/if}}
                
                <div>VS</div>

                {{#if players.[1].isFake}}
                    <div>Player 2:{{players.[1].name}}</div>
                {{else}}
                    <a href="/tournament/{{../../../../../id}}?level={{../../../level}}&match={{@index}}&winner={{players.[1].id}}">Player 2:{{players.[1].name}}</a>
                {{/if}}
                <div>
                    Winner: {{state.name}}
                </div>     
            {{/if}}
            
        </div>
        {{/each}}
    </div>

        {{/each}}
    
    {{/with}}
</div>
